.carousel-inner img{
    height: 100vh;
}
.card #G-Guard{
    height: 40vh;
}

.carousel-inner img{
    height: 130vh;
}
/* display styling */
.card img{
    height: 40vh;
}
.card{
    position: relative;
}




